.navbar-cor-propria {
    background-color: #4ab;
}

.mostrar-coluna {
    border: 1px solid #430;
    background-color: #dedede;
}

@media (max-width: 900px) {
    .navbar-cor-propria {
        background-color: #dadada;
    }
}

@media (max-width: 650px) {
    .navbar-cor-propria {
        background-color: #d3ef4e;
    }
}

.carousel-inner img {
    height: 100vh;
    object-fit: cover;
}